* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.326);
}

.main {
  font-size: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
